<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.659963686152-4ljpmul6qv957mcncaemasa1booc6e77</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	
	<!-- Privacy Usage Descriptions for Camera and Photo Library -->
	<key>NSCameraUsageDescription</key>
	<string>Que, gönderi oluştururken fotoğraf çekmenize olanak tanımak için kameranıza erişim isteği gönderiyor.</string>
	
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Que, gönderi oluştururken mevcut fotoğraflarınızı seçmenize olanak tanımak için fotoğraf kütüphanenize erişim isteği gönderiyor.</string>
	
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Que, düzenlediğiniz fotoğrafları kaydetmenize olanak tanımak için fotoğraf kütüphanenize ekleme yetkisi istiyor.</string>
	
	<!-- Audio Session Configuration -->
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	
	<!-- Audio Session Category -->
	<key>AVAudioSessionCategory</key>
	<string>AVAudioSessionCategoryPlayback</string>
	
	<!-- Disable external playback controls -->
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	
	<!-- Disable media controls in Control Center -->
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
</dict>
</plist>
